@font-face {
  font-family: "SF";
  src: url("../fonts/sf/sf-ui-display-light-58646b33e0551.otf") format("otf");
  font-weight: 300;
  font-style: normal; }

.header {
  position: relative;
  height: 100vh;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__content {
    width: 299px; }
  .header__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap; }
    @media screen and (max-width: 359px) {
      .header__title {
        font-size: 20px;
        white-space: normal; } }
  .header__text {
    font-size: 16px; }

.burger {
  position: absolute;
  top: 15px;
  left: 15px; }

.arrow {
  position: absolute;
  bottom: 25px; }

.control {
  padding-top: 80px; }
  .control__text {
    font-size: 15px;
    width: 238px; }
  .control__tv {
    margin-top: 51px; }
  @media screen and (max-height: 420px) {
    .control {
      padding-top: 30px; }
      .control__tv {
        margin-top: 20px; }
      .control__text {
        font-size: 12px; } }

.gradient {
  height: 96px;
  background: radial-gradient(50% 100% at 49.51% -0.97%, rgba(151, 151, 151, 0.74) 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0.5;
  margin-top: -26px; }

.info {
  padding-top: 80px; }
  .info__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 299px;
    height: 434px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000)), url("../images/iPhone.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%), url("../images/iPhone.png");
    background-repeat: no-repeat; }
  @media screen and (max-height: 625px) {
    .info__img {
      height: 360px; } }
  @media screen and (max-height: 420px) {
    .info {
      padding-top: 30px; }
      .info__img {
        width: 60vmin;
        height: 60vmin;
        background-size: contain; } }

.sub {
  padding: 36px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sub__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    z-index: 1; }
  .sub__light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.83))), url("../images/tv_channel.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%), url("../images/tv_channel.png"); }
  .sub__middle {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.83))), url("../images/tv_channel_2.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%), url("../images/tv_channel_2.png"); }
  .sub__max {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.83))), url("../images/img_2.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%), url("../images/img_2.png");
    opacity: 0.6; }
  .sub__text {
    margin-bottom: 5px; }
  .sub__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    white-space: nowrap;
    margin-top: 120px; }
  .sub__description {
    width: 291px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px; }
  .sub__price {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-top: 70px; }
  .sub__btn {
    margin-top: 16px; }
  .sub__info {
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6); }
  .sub__detailed {
    display: block;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #e5e5e5;
    margin-top: 20px; }
  @media screen and (max-height: 630px) {
    .sub__title {
      font-size: 25px;
      line-height: 25px; }
    .sub__text {
      font-size: 12px; }
    .sub__description {
      font-size: 10px; } }
  @media screen and (max-height: 420px) {
    .sub {
      padding: 15px 0; }
      .sub__title {
        font-size: 17px;
        line-height: 20px;
        margin-top: 0; }
      .sub__text {
        margin-bottom: 0; }
      .sub__description {
        margin-top: 0; }
      .sub__price {
        font-size: 12px;
        margin-top: 20px; }
      .sub__btn {
        margin-top: 12px; }
      .sub__info {
        margin-top: 10px;
        font-size: 8px;
        line-height: 8px; }
      .sub__detailed {
        font-size: 8px;
        letter-spacing: 1.3px;
        margin-top: 8px; } }

.sub-middle {
  border: 8px solid #23c3b2; }
  .sub-middle .sub__title {
    margin-top: 99px; }
  @media screen and (max-height: 420px) {
    .sub-middle .sub__title {
      margin-top: 0; }
    .sub-middle .sub__price {
      margin-top: 10px; } }
  @media screen and (max-width: 330px) {
    .sub-middle {
      border: none;
      padding: 0; }
      .sub-middle .wrapper {
        border: 8px solid #23c3b2;
        height: 100%; } }

.sub-max .sub__title {
  margin-top: 50px; }

.sub-max .sub__price {
  margin-top: 32px; }

@media screen and (max-height: 420px) {
  .sub-max .sub__title {
    margin-top: 0; }
  .sub-max .sub__price {
    margin-top: 10px; } }

.present {
  padding-top: 20px;
  background-color: #101010; }
  .present__description {
    line-height: 20px; }
  .present__discount {
    height: 65%;
    margin-top: 10px;
    background-image: linear-gradient(179.86deg, rgba(16, 16, 16, 0) 37.5%, #101010 90.39%), url("../images/stocks.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  @media screen and (max-height: 420px) {
    .present__text {
      font-size: 12px; }
    .present__discount {
      height: 50vmin;
      background-size: contain; } }

.footer {
  height: 100vh;
  background-color: #101010;
  padding-top: 80px; }
  @media screen and (max-height: 420px) {
    .footer {
      height: 100%;
      padding: 20px 0; } }

.catch {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px; }
  .catch__container {
    margin-bottom: 40px; }
  .catch__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; }
  .catch__text {
    font-size: 15px;
    line-height: 24px; }
  @media screen and (max-height: 420px) {
    .catch {
      margin-top: 20px; }
      .catch__container {
        margin-bottom: 15px; }
      .catch__title {
        font-size: 16px; }
      .catch__text {
        font-size: 12px;
        line-height: 20px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: #fff;
  text-decoration: none; }

body {
  background-color: #000;
  color: #fff;
  font-family: "SF UI Text", sans-serif;
  font-style: normal; }

.wrapper {
  position: relative;
  width: 325px;
  margin: auto;
  padding: 0 20px;
  z-index: 2; }
  @media screen and (max-width: 359px) {
    .wrapper {
      width: 100%;
      padding: 0 10px; } }

.text {
  line-height: 20px;
  font-weight: 200;
  opacity: 0.8; }

.section {
  position: relative; }

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 15px;
  white-space: nowrap; }
  @media screen and (max-width: 359px) {
    .title {
      font-size: 20px;
      white-space: normal; } }
  @media screen and (max-height: 420px) {
    .title {
      font-size: 16px;
      margin-bottom: 5px; } }

.tv {
  width: 325px;
  height: 268px;
  position: absolute;
  right: 0; }
  .tv img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 359px) {
    .tv {
      width: 100%;
      padding-left: 10px; } }
  @media screen and (max-height: 420px) {
    .tv {
      width: 78vmin;
      height: 45vmin; } }

.btn {
  display: block;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background-color: #23c3b2;
  border-radius: 5px;
  width: 200px;
  padding: 21px 0; }
  @media screen and (max-height: 420px) {
    .btn {
      width: 100px;
      padding: 10px 0;
      font-size: 8px; } }

/*# sourceMappingURL=main.css.map */
